* {
  margin: 0;
  padding: 0;
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  box-sizing: border-box;
}

body,
html {
  width: 100%;
  height: 100%;
}

.main {
  width: 100%;
  height: 100%;
  position: relative;
}


.nav {
  height: 100px;
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  border-bottom: 2px solid #dadada;
  padding: 0 5vw;
}

.nav-part2 {
  display: flex;
  gap: 5vw;
  align-items: center;
}

.nav h2 {
  font-size: 1.2vw;
  font-weight: 700;
}

.nav h4 {
  font-size: 1vw;
}

.nav i {
  font-size: 1.3vw;
  font-weight: 800;
  display: none;
}


.content {
  height: calc(100% - 100px);
  width: 100%;
  display: flex;
  position: relative;
}

.left {
  height: 100%;
  width: 55%;
  padding: 4vw 5vw;

}

.left h1 {
  font-size: 3.7vw;
  font-weight: 900;
  margin-bottom: 2vw;

}


.left h1 span {
  color: rgba(156, 118, 37, 0.897);
  ;
}

.left p {
  font-size: 1.3vw;
  line-height: 3vw;
  color: rgb(92, 86, 86);
  font-weight: 600;
  margin-bottom: 2wv;
}

.left button {
  padding: 1vw 2vw;
  border: none;
  background-color: rgb(156, 37, 110);
  font-size: 1.3vw;
  border-radius: 4px;
  color: white;
  margin-top: 2vw;
  font-weight: 700;
  cursor: pointer;
}

.left button:hover, .nav button:hover {
  background-color: rgba(31, 31, 148, 0.747);
}

.nav button {
  padding: 1vw 2vw;
  border: none;
  background-color: rgb(156, 37, 110);
  font-size: 1.3vw;
  border-radius: 4px;
  color: white;
  font-weight: 700;
  cursor: pointer;
}

.right {
  height: 100%;
  width: 45%;
}

.right img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}



@media (max-width: 576px) {
  .nav {
    background-color: lightcoral;
    color: rgb(95, 88, 88);
    padding: 0 6vw;
    height: 70px;
  }

  .nav h2 {
    font-size: 5vw;
    font-weight: bolder;
  }

  .nav-part2 h4,
  .nav-part2 button {
    display: none;
  }

  .nav i {
    display: block;
    font-size: 6vw;
    font-weight: 900;
  }

  .content {
    height: calc(100% - 70px);
    flex-direction: column;
  }

  .left {
    width: 100%;
    height: 60%;
    margin-bottom: 10vw;
    
  }

  .right {
    width: 100%;
    height: 40%;
  }

  .left h1 {
    font-size: 10vw;
  }

  .left p {
    font-size: 4vw;
    line-height: 5vw;
    /* width: 90%; */
  }

  .left button {
    font-size: 4vw;
    margin-top: 4vw;
  }

  .right img {
    object-fit: cover;
    border-radius: 10px;
  }
}